$backgriund-color: #2ba3d4;
html {
  background: $backgriund-color image_url('background.svg') 50% 0 no-repeat;
  background-attachment: fixed;
}

body {
  background: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
}

.large-icon i {
  font-size: 85px;
  line-height: 70px;
  color: white;
  margin: 30px auto;
}

.text-large {
  font-size: 20px;
  line-height: 28px;
  margin: 30px auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box-shadow {
  box-shadow: 0 1px 3px #787878;
  -moz-box-shadow: 0 1px 3px #787878;
  -webkit-box-shadow: 0 1px 3px #787878;
}

.normal {
  font-weight: normal;
}

.head-section {
  .navbar-brand, .navbar-brand:hover {
    font-size: 1.5em;
    color: #5BC0DE;
    text-shadow: 0 0 1px #fff;
  }
  .dropdown-menu {
    background: $backgriund-color;
    padding: 10px 5px;
    border-radius: 0;
  }
  .navbar {
    padding: 20px;
    font-weight: bolder;
    font-size: 1.2em;
    background: #222;
    border: none;
    border-radius: 0;
    li > a {
      color: white;
    }
    li > a:hover, li > a:active {
      color: white;
      background: $backgriund-color;
    }
  }
}

section {
  padding: 40px 0;
}

.howitworks {
  color: white;
  background: rgb(61, 192, 241);
  background: rgba(61, 192, 241, 0.75);
}

.projects {
  background: white;
  color: #000;
  img {
    margin-top: 15px;
  }
}

.howitworks h3 {
  color: white;
}

/* FOOTER */

footer {
  background-color: #252525;
  padding: 50px 0;
}

footer, footer a {
  color: #ddd;
}

footer p {
  margin-bottom: 20px;
}

footer .logo {
  height: 30px;
  width: auto;
}

img[data-toggle='popover'] {
  cursor: pointer;
}

.img-thumbnail {
  border-bottom: 0 none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
